---
import "../styles/globals.css";
export interface Props {
	title: string;
}

const { title } = Astro.props;
const description = "Nicolás Escobar Porfolio, AEM Architect";
const image = "/hero-image.webp";
const url = Astro.site ? Astro.site.href : "https://iamnikiyo.github.io";
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description}>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<!-- Open Graph -->
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={image} />
		<meta property="og:url" content={url} />
		<meta property="og:type" content="website" />

		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	</head>
	<body class="bg-background-dark font-sans text-white overflow-x-hidden">
		<slot />
	</body>
</html>
<style is:global>
	/* Webkit scrollbar styling */
	::-webkit-scrollbar {
		width: 8px;
	}

	::-webkit-scrollbar-track {
		background: #1a1a1a;
	}

	::-webkit-scrollbar-thumb {
		background: #888;
		border-radius: 4px;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}

	.material-symbols-outlined {
		font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24
	}

	.glass-card {
    background: rgba(22, 25, 30, 0.5);
    border-width: 1px;
    border-style: solid;
    -o-border-image: initial;
    border-image: initial;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
	}
</style>
